.definedfield {
    border-style: none none none none;
    border-color: black;
    border-width: 1px;
    margin: 10px;
}

.tableheader {
    border-style: none none none none;
    border-color: black;
    border-width: 1px;
    margin: 10px;
    font-weight: bold;
}